.button-search{
    padding: 0px 27px;
    background: transparent;
}

.button-footer{
    background-color: $blue-400;
    color: $light-100;
    padding: 15px 60px;
    border-radius: 10px;
    letter-spacing: 0.04em;
}